<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Plaza Restaurant</title>
</head>
<body>
    <div id="contenedor">
        <!-- Header -->
        <div id="nav-bar">
            <div id="logo">
                <h1 class="plaza">PLAZA RESTAURANT</h1>
            </div>
            <div id="menu">
                <!-- <p class="log-regis">Iniciar sesión</p>
                <p class="log-regis">Registro</p> -->
                <!-- <p class="log-regis">Menu</p> -->
                <div id="button-menu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
                </div>
            </div>
            
        </div>
        <div class="options">
            <li class="option"><a href="/encargado/9876/add-menu">Crear plato</a></li>
            <!-- <li class="option"><a href="/639e152b4a234f0a94ee84ec/rol">Asignar Rol</a></li> -->
            <li class="option"><a id="btn-logout">Cerrar sesión</a></li>
        </div>
        <!-- Background presentación -->
        <div id="back-present">
            <img id="back-present-img" src="img/restaurant-background1.jpg" alt="" srcset="">
        </div>
        <h2>Ordenes</h2>
        <div id="ordenes">
            
        </div>
        
    </div>
    <script src="index.js"></script>
</body>
</html>