<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Plaza Restaurant</title>
</head>
<body>
    <div id="contenedor">
        <!-- Header -->
        <div id="nav-bar">
            <div id="logo">
                <h1 class="plaza">PLAZA RESTAURANT</h1>
            </div>
            <div id="menu">
                <!-- <p class="log-regis">Iniciar sesión</p>
                <p class="log-regis">Registro</p> -->
                <!-- <p class="log-regis">Menu</p> -->
                <div id="button-menu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                  </svg>
                </div>
            </div>
            
        </div>
        <div class="options">
            <li class="option"><a id="btn-logout">Cerrar sesión</a></li>
        </div>
        <!-- Background presentación -->
        <div id="back-present">
            <img id="back-present-img" src="img/restaurant-background1.jpg" alt="" srcset="">
        </div>

        <div id="form-content">
            <form  id="form">
                <label for="orden" >Orden</label>
                <input type="text" placeholder="Introduzca un plato" id="orden">
                <!-- <label for="image">Image</label>
                <input type="file" id="image" name="image"> -->
                <!-- <button type="submit" id="btnSubmit">Registrar</button> -->
            </form>
        </div>

        <div id="resultado-busqueda">
            <h2>Resultados</h2>
            <div id="caja-resultados">
                
            </div>
        </div>

        <div id="orden-preliminar">
            <h2>Orden Preliminar</h2>
            <input type="number" id="mesa-numero" style="display: none;" placeholder="Mesa" required>
            <div id="monto-total">
                <p></p>
            </div>
            <!-- <button class="btn-deleted" style="display: none;">⨉</button> -->
            <button type="submit" id="btnSubmit" style="display: none;">Registrar</button>
        </div>

        <div id="ordenes">
            <h1>Ordenes</h1>
        </div>
        
       


        <div id="rol">
            <h1>Mesero</h1>
            
        </div>

    </div>

    <script src="index.js"></script>
</body>
</html>