body {
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(245,245,245,255);
}

#contenedor {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 3.5rem 8rem auto auto auto auto auto auto;
    grid-template-areas: "header"
                        "back-present"
                        "form-content"
                        "resultado-busqueda"
                        "orden-preliminar"
                        "ordenes"
                        "ordenes5"
                        "completados";
}

#contenedor h2 {
    color: rgb(99, 99, 99);
}

#nav-bar {
    grid-area: header;
    background-color: rgba(245,245,245,255);
    border-bottom: 5px solid #00afa8;
    font-size: 0.7rem;
    color: #6d6d6d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}

#menu {
    color: #78350f;
    display: flex;
    align-items: center;
}

#button-menu {
    color: #78350f;
    width: 2rem;
}

#back-present {
    grid-area: back-present;
    width: 100%;
}

#back-present-img {
    width: 100%;
    height: 100%;
    
}

#promociones {
    grid-area: promociones;
    margin: 1rem;
    background-color: #E1EFC2;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
}

#promociones .content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}







.options {
    position: absolute;
    right: 0rem;
    top: -5rem;
    width: 9rem;
    margin-top: 3.5rem;
    background-color: #00afa8;
    color: #ffff;
    transition: all 0.4s ease-in-out;
    list-style: none;
    z-index: 1;
    border-bottom-left-radius: 1rem;
}

.options .option a {
    text-decoration: none;
    color: #fff;
    left: 0;
}

.options .option a:visited {
    color: #fff;
}

.option {
    padding: .5rem;
    
}

.options .option {
    display: flex;
    justify-content: left;
}

.show-options {
    right: 0rem;
    top: 0;
    display: flex;
    justify-content: start;
    
}

/* ----- FORMULARIO -------*/

#form-content {
    grid-area: form-content;
    margin: 1rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    border-radius: 2rem;
    
}

label {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #78350f;
}

#form input {
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 15rem;
    min-height: 2rem;
    background-color: #00afa8;
    color: #fff;

}

#orden {
    background-color: #00afa8;
    color: #fff;
}

#orden::placeholder {
    color: #fff;
}

#btnSubmit {
    margin-top: 1rem;
    max-width: 10rem;
    border: none;
    border-radius: 1rem;
    min-width: 8rem;
    min-height: 3rem;
    background-color: #14532d;
    color: #fff;

}

#ordenes {
    grid-area: ordenes;

    margin-top: 1rem;
}


#ordenes li {
    list-style: none;
}

#ordenes li .orden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9f99d;
    color: rgb(99, 99, 99);
    margin: 1rem;
    border-radius: 2rem;
}

#ordenesZ {
    grid-area: ordenes5;
}

#ordenes5, #ordenes6 {
    
    background-color: #d9f99d;
    margin-top: 1rem;
}

#ordenes5 li, #ordenes6 li {
    list-style: none;
}

.orden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9f99d;
    color: rgb(99, 99, 99);
    margin: 1rem;
    border-radius: 2rem;
}

/* ------ ORDENES COMPLETADAS ------- */

#completados {
    grid-area: completados;
    margin-top: 1rem;
}

#completados li {
    list-style: none;
}

#completados li .orden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9f99d;
    color: rgb(99, 99, 99);
    margin: 1rem;
    border-radius: 2rem;
}

/* --------- RESULTADOS BUSQUEDA ----------- */

#resultado-busqueda {
     grid-area: resultado-busqueda;
    
}

#caja-resultados {
    /* grid-area: resultado-busqueda; */
    background-color: rgb(0, 113, 141);
    /* z-index: 10; */
    padding: 1rem;
}

li {
    list-style: none;
   
}

li .comida-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00afa8;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;

    
}

.btnAddPlato {
    margin-top: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
}
/*----------- CONTADOR ----------- */
#content-cantidad {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#content-cantidad .incrementar {
    background:none;
    border-radius: 0.3rem;
    border: solid #fff 1px;
    color: #fff;
}

#content-cantidad .disminuir {
    background:none;
    border-radius: 0.3rem;
    border: solid #fff 1px;
    color: #fff;
}

/* --------- ORDEN PRELIMINAR --------------- */

#orden-preliminar {
    grid-area: orden-preliminar;
    background-color: rgb(8, 151, 20);
}

