body {
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(245,245,245,255);
}

#contenedor {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    row-gap: 2vh;
    grid-template-rows: 3.5rem auto auto auto;
    grid-template-areas: "header"
                        "formulario"
                        "btn-encargados"
                        "comidas";
}

#nav-bar {
    grid-area: header;
    background-color: rgba(245,245,245,255);
    border-bottom: 5px solid #00afa8;
    font-size: 0.7rem;
    color: #6d6d6d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}

#menu {
    color: #78350f;
    display: flex;
    align-items: center;
}

#button-menu {
    color: #78350f;
    width: 2rem;
}

.options {
    position: absolute;
    right: 0rem;
    top: -5rem;
    margin-top: 3.5rem;
    background-color: #00afa8;
    color: #ffff;
    transition: all 0.4s ease-in-out;
    list-style: none;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    
}

.options .option a {
    text-decoration: none;
    color: #fff;
    left: 0;
}

.options .option a:visited {
    color: #fff;
}

.option {
    padding: .5rem;
}

.options .option {
    display: flex;
    justify-content: left;
}

.show-options {
    right: 0rem;
    top: 0;
    
    
}

/* --------- FORMULARIO --------- */

#form-content {
    grid-area: formulario;
    /* background-color: rgb(156, 156, 156); */
    background-color: #00afa981;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    
}

#form input {
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 15rem;
    min-height: 2rem;
}

label {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
}

#image {
    width: 10rem;
}

#btnSubmit {
    margin-top: 1rem;
    max-width: 10rem;
    border: none;
    border-radius: 1rem;
    min-width: 8rem;
    min-height: 3rem;
    background-color:#00afa8;;
    color: #fff;

}

/* ----- COMIDAS --------*/

#comidas {
    grid-area: comidas;
}

#btn-refresh {
    grid-area: btn-encargados;
    display: flex;
    justify-content: center;
}

#show-comidas {
    border: none;
    width: 12rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #854d0e;
    color: #fff;
}

/* ESTILOS PARA CADA COMIDA */

#comidas li {
    list-style: none;
}

#comidas .comida-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00504d;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

#comidas .comida-item .content-plato-precio, #comidas .comida-item .btns  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

#comidas .comida-item .btns .btn-edit svg {
    color: yellow;
    width: 2rem;
}

#comidas .comida-item .btns .btn-deleted svg {
    color: rgb(131, 0, 0);
    width: 2rem;
}


#comidas .comida-item .meal-edit, #comidas .comida-item .price-edit {
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
}

#comidas .comida-item .edit-btn {
    width: 2rem;
}

#comidas .comida-item .btn-editing {
    width: 3rem;
    display: flex;
    align-self: center;
}