<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Iniciar sesión</title>
</head>
<body>
    <div id="contenedor">
        <div id="nav-bar">
            <div id="logo">
                <p class="plaza">PLAZA RESTAURANT</p>
            </div>
            <div id="menu">
                <!-- <p class="log-regis">Iniciar sesión</p>
                <p class="log-regis">Registro</p> -->
                <!-- <p class="log-regis">Menu</p> -->
                <div id="button-menu"><img src="img/button-menu.png" alt="" srcset=""></div>
            </div>
        </div>
        <ul class="options">
            <li class="option"><a href="/">Inicio</a></li>
            <li class="option"><a href="/signup">Registro</a></li>
        </ul>
        
        <!----------- FORMULARIO --------->

        <div id="form-content">
            <form action="form" id="form">
                <label for="email">Correo electronico</label>
                <input type="email" name="" id="email" placeholder="example@qwe.com">
                <label for="password">Contraseña</label>
                <input type="text" id="password">
                <button type="submit" id="btnSubmit">Iniciar sesión</button>
            </form>
        </div>

        <!-- FOOTER --------->
    </div>
    <script src="index.js"></script>
</body>
</html>