<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="normalize.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Crear plato</title>
</head>
<body>
    <div id="contenedor">
        <div id="nav-bar">
            <div id="logo">
                <p class="plaza">PLAZA RESTAURANT</p>
            </div>
            <div id="menu">
                <!-- <p class="log-regis">Iniciar sesión</p>
                <p class="log-regis">Registro</p> -->
                <!-- <p class="log-regis">Menu</p> -->
                <div id="button-menu"><img src="img/button-menu.png" alt="" srcset=""></div>
            </div>
        </div>
        <ul class="options">
            <li class="option"><a href="/admin/87965">Inicio</a></li>
            <li class="option"><a href="/admin/9876/rol">Asignar rol</a></li>
        </ul>
        
        <!----------- FORMULARIO --------->

        <div id="form-content">
            <form id="form"  enctype="multipart/form-data">
                <label for="meal">Plato</label>
                <input type="text" id="meal">
                <label for="price">Precio</label>
                <input type="text" id="price">
                <label for="image">Image</label>
                <input type="file" id="image" name="image">
                <button type="submit" id="btnSubmit">Registrar</button>
            </form>
        </div>

        <!-- FOOTER --------->
    </div>
    <script src="index.js"></script>
</body>
</html>