<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Plaza Restaurant</title>
</head>
<body>
    <div id="contenedor">
        <!-- Header -->
        <div id="nav-bar">
            <div id="logo">
                <p class="plaza">PLAZA RESTAURANT</p>
            </div>
            <div id="menu">
                <!-- <p class="log-regis">Iniciar sesión</p>
                <p class="log-regis">Registro</p> -->
                <!-- <p class="log-regis">Menu</p> -->
                <div id="button-menu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                  </svg>
                </div>
            </div>
            
        </div>
        <ul class="options">
            <li class="option"><a href="/login">Iniciar sesión</a></li>
            <li class="option"><a href="/signup">Registro</a></li>
        </ul>
        <!-- Background presentación -->
        <div id="back-present">
            <img id="back-present-img" src="img/restaurant-background.jpg" alt="" srcset="">
        </div>

        <!-- <div id="promociones">
            <div class="content-item">
                <p>Hamburguesa</p>
                <div class="image"><img src="" alt="" srcset=""></div>
                <p>$3,99</p>
                <button type="submit">Ordenar</button>
            </div>
            
            <div class="content-item">
                <p>Pizza</p>
                <div class="image"><img src="" alt="" srcset=""></div>
                <p>$5,99</p>
                <button type="submit">Ordenar</button>
            </div>

            <div class="content-item">
                <p>Pasta</p>
                <div class="image"><img src="" alt="" srcset=""></div>
                <p>$3,99</p>
                <button type="submit">Ordenar</button>
            </div>
        </div> -->
        <h1>Menu</h1>
        <div id="menu-list">

        </div>
        <h1>home</h1>
    </div>
    <script src="index.js"></script>
</body>
</html>